/**
* engage css
 */
.engage-desc{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size:16px;
    margin-bottom: 20px;
}
.engage-item{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    background-color: #1A97d4;
    padding: 30px 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.engage-item-green-bg{
    width:90%;
    left:10%;
    background-color: #8ac440;
}
.triangle{
    display:block;
    width:0;
    height:0;
    border-width:20px 0 20px 20px;
    border-style:solid;
    border-color:transparent transparent transparent #1a97d4;
    position:absolute;
    top:45%;
    right:-38px;
}

.engage-item-title{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size:24px;
    font-family:"FrutigerNextLT-Bold";
    color:#ffffff;
    text-align: center;
}
.engage-item-desc{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    word-break: break-all;
    margin: 10px 0;
    color:#fff;
    font-size: 16px;
    line-height: 24px;
    font-family: "FrutigerNextLT-Light";
}
.report_btn,.report_btn:hover{
    position: relative;
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
    line-height: 36px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
    color:#8ac440!important;
    font-family: "FrutigerNextLT-Bold";
}
.btn-group{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin-top: -20px;
}
.btn-start,.btn-start:hover,.btn-resume-survey,.btn-resume-survey:hover{
    position: relative;
    width: auto;
    display: inline-block;
    background-color: #1a97d4;
    padding: 5px 30px;
    margin: 0 20px;
    border-radius: 30px;
    line-height: 30px;
    font-family: "FrutigerNextLT-Bold";
    color:#ffffff!important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.engage-bottom{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    font-size:18px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}
.play-btn-icon{
    position: relative;
    width: auto;
    display: inline-block;
    font-size:18px;
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media screen and (min-width:959px) and (max-width:1280px){
    .h1-title{
        font-size:80px;
    }
}

@media screen and (min-width:1400px) and (max-width:1920px){
    .h1-title1{
        margin:70px 0 50px 0;
    }
    .engage-desc{
        margin-bottom: 30px;
    }
    .btn-group{
        margin-top:-10px;
    }
    .engage-bottom{
        padding-bottom: 0;
        margin-top: 70px;
    }
}